$colorBlue: #006d77;
$colorWhiteBlue: #83c5be;
$colorblueWhite: #edf6f9;

$colorPrimary: #2563eb; // Основной цвет (синий)
$colorSuccess: #10b981; // Цвет успеха (зелёный)
$colorWarning: #f59e0b; // Цвет предупреждения (оранжевый)
$colorDanger: #ef4444; // Цвет ошибки (красный)
$colorBackground: #f9fafb; // Фоновый цвет
$colorText: #1f2937; // Цвет текста
$colorTextLight: #6b7280; // Светлый текст